{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "ecmascript": 6,
        "jsx": true
    },
    "plugins": [
        "react"
    ],
    "extends": 'standard',
    "rules": {
      'semi': [2, 'always'],
      'no-extra-semi': 2,
      'semi-spacing': [2, { 'before': false, 'after': true }]
    }
}